@page "/"
@using Services
@inject IUriHelper UriHelper

<AuthorizeView>
    <Authorized>
        <div class="row">
            <select @bind="@selectedRoom" class="form-control" multiple>
                @foreach (var room in rooms)
                {
                    <option value="@room">@room</option>
                }
            </select>
        </div>
        <div class="row">
            <button class="btn btn-primary" @onclick="@JoinRoom">Join Room</button>
        </div>
        <div class="row">
            <input class="form-control" @bind="@RoomName" />
        </div>
        <div class="row">
            <button class="btn btn-primary" @onclick="@CreateRoom">Create Room</button>
        </div>
    </Authorized>
    <NotAuthorized>
        Log in!
    </NotAuthorized>
</AuthorizeView>


@code {
    List<string>
    rooms = new List<string> { "asd", "qwe" };
    string selectedRoom;
    public string Message { get; set; }
    public string RoomName { get; set; }

    protected override async Task OnInitAsync()
    {
        RoomState.OnRoomAdded += RoomAdded;
    }

    void RoomAdded()
    {
        rooms = RoomState.Rooms;
        Invoke(() => StateHasChanged());
    }

    void SendMessage()
    {
        RoomState.Message(Message);
        Message = "";
    }

    void CreateRoom()
    {
        RoomState.AddRoom(RoomName);
        UriHelper.NavigateTo($"/waitingRoom/{RoomName}");
    }

    void JoinRoom()
    {
        if (selectedRoom != null)
        {
            UriHelper.NavigateTo($"/waitingRoom/{selectedRoom}");
        }
    }
}
