@page "/"
@using Models

<div class="board fixed-bottom swappable-container">
    <div class="row">
        <div class="col-5"></div>
        <button class="btn btn-success" @onclick="@AddPiece">Add piece</button>
    </div>

    @for (int x = 0; x < piecesOnTable.GetLength(0); ++x)
    {
        <div class="row">
            <div class="col-5"></div>
            @for (int y = 0; y < piecesOnTable.GetLength(1); ++y)
            {
                <Piece OnDrop="@DropPieceOnTable" Model="@piecesOnTable[x, y]"></Piece>
            }

        </div>
    }
</div>

<div class="main-row swappable-container">
    <div class="row">
        @foreach (var piece in piecesToDraw)
        {
            <Piece OnDrop="@DropPiece" Model="@piece"></Piece>
        }
    </div>
</div>

@code {
    PieceModel[,] piecesOnTable = new PieceModel[2, 14];
    List<PieceModel> piecesToDraw = new List<PieceModel>();
    List<PieceModel> piecesDown = new List<PieceModel>();

    protected override async Task OnInitAsync()
    {
        Get14Pieces();
        GetPiecesToDraw();
    }

    void DropPieceOnTable(PieceModel source, PieceModel target)
    {
        var tmpX = source.X;
        var tmpY = source.Y;
        var tmpLoc = source.Location;
        source.X = target.X;
        source.Y = target.Y;
        source.Location = target.Location;
        target.X = tmpX;
        target.Y = tmpY;
        target.Location = tmpLoc;

        if (source.Location == PieceModel.Locations.Board)
        {
            piecesOnTable[source.Y, source.X] = source;
        }

        if (source.Location == PieceModel.Locations.PiecesToDraw)
        {
            piecesToDraw[source.X] = source;
        }

        if (target.Location == PieceModel.Locations.Board)
        {
            piecesOnTable[target.Y, target.X] = target;
        }

        if (target.Location == PieceModel.Locations.PiecesToDraw)
        {
            piecesToDraw[target.X] = target;
        }

        StateHasChanged();
    }

    void DropPiece(PieceModel source, PieceModel target) { }

    void Get14Pieces()
    {
        //get 14 pieces for testing purpose
        for (int i = 0; i <= 13; i++)
        {
            piecesOnTable[0, i] = new PieceModel(i, PieceModel.Colors.Blue,
                PieceModel.Locations.Board, i, 0);
        }

        for (int i = 0; i <= 13; i++)
        {
            piecesOnTable[1, i] = new PieceModel(PieceModel.Types.Empty,
                PieceModel.Locations.Board, i, 1);
        }
    }

    void GetPiecesToDraw()
    {
        for (int i = 0; i < 10; i++)
        {
            piecesToDraw.Add(new PieceModel(PieceModel.Types.Empty,
                PieceModel.Locations.PiecesToDraw, i));
        }
    }

    void AddPiece()
    {
        //pieces.Add(new PieceModel(40, 4, PieceModel.Colors.Black));
    }
}
