@page "/waitingRoom/{RoomName}"
@using Services
@inject IUriHelper UriHelper

<AuthorizeView>
    <Authorized>
        <div>
            <h4>@RoomName</h4>
            @foreach (var message in messages)
            {
                <div>@message</div>
            }

            <input @bind="@Message" />
            <button class="btn btn-primary" @onclick="@SendMessage">Send message</button>

            <h3>Players:</h3>
            @foreach (var player in players)
            {
                <div>@player</div>
            }
            <button class="btn btn-primary" @onclick="@StartGame">Start game</button>
        </div>
    </Authorized>
    <NotAuthorized>
        Log in!
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    private string RoomName { get; set; }

    List<string> messages = new List<string>();
    List<string> players = new List<string>();
    string userName;
    public string Message { get; set; }

    GameRoomState room;

    protected override async Task OnInitAsync()
    {
        room = RoomState.Rooms[RoomName];
        room.OnMessageReceive += MessageReceived;
        messages = RoomState.Rooms[RoomName].Messages;

        room.OnPlayerJoin += PlayerJoined;
        players = room.Players;

        room.OnStartGame += GameStarted;

        var authState = await authenticationStateTask;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            userName = user.Identity.Name;
        }
    }

    void MessageReceived()
    {
        messages = room.Messages;
        Invoke(() => StateHasChanged());
    }

    void PlayerJoined()
    {
        players = room.Players;
        Invoke(() => StateHasChanged());
    }

    void SendMessage()
    {
        room.Message($"{userName}: {Message}");
        Message = "";
    }

    public void GameStarted()
    {
        UriHelper.NavigateTo($"/gameRoom/{RoomName}");
    }

    void StartGame()
    {
        room.StartGame();
    }
}
